.projects {
	margin-top: 50px;
}

h1,
p {
	display: flex;
	justify-content: center;
	color: var(--text-color);
	font-size: 1.5rem;
}

.backgrounds {
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

.background_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background_wrapper a {
	text-decoration: none;
}

button {
	color: var(--color-yellow);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 2rem;
	margin-top: 20px;
	border-radius: 25px;
	background-color: transparent;
	border: 3px solid var(--color-yellow);
}

button i {
	padding-right: 5px;
}

button:hover {
	border: 3px solid var(--color-yellow-hover);
	cursor: pointer;
}

.background1,
.background2,
.background3 {
	height: 350px;
	width: 350px;
	background-color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects img {
	/*  justify-content: align-items?????; */
	margin-left: 17.5px;
	max-width: 90%;
	height: auto;
}

.projects img:hover {
	/* -moz-box-shadow: 0 0 30px rgb(148, 144, 144);
	-webkit-box-shadow: 0 0 30px rgb(148, 144, 144); */
	box-shadow: 0 0 30px rgb(148, 144, 144);
	cursor: pointer;
}

@media screen and (max-width: 1175px) {
	.backgrounds {
		display: flex;
		flex-wrap: wrap;
	}

	.projects > p {
		text-align: center;
	}

	button {
		margin-bottom: 50px;
	}

	.background1,
	.background2,
	.background3 {
		height: 300px;
		width: 300px;
	}
}
